head 
    - var title = "Assignment 1 Home Page"
    title #{title}
body 
    h1 #{title}

    ol 
        li 
            a(href="/fruits") Fruits Page        
        li 
            a(href="/personal") Personal Page